<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="card" style=" margin-top: 20px;"  align="center">

    <form #docs_form=ngForm (ngSubmit)="onsubmit()" enctype="multipart/form-data">

      <div class="row form-group" >
        <div class="col-sm-4" >
          <label>Claim Number</label>
          <input type="text" name="claimNo" value="" [(ngModel)]="form.claimNo" class="form-control" required #claim />

        </div>
        
        


        <div class="col-sm-4">
          <label>Policy Number</label>
          <input type="text" name="policyNo" value="" [(ngModel)]="form.policyNo" class="form-control" required #policy/>
        </div>

      </div>
      
      <div class="row form-group">
         <div class="col-sm-4">
          <label>Doc Type</label>
          <input type="text" name="docType" value="" [(ngModel)]="form.docType" class="form-control" required #type/>
        </div>

         <div class="col-sm-4">
          <label>Doc Name</label>
          <input type="text" name="docName" value="" [(ngModel)]="form.docName" class="form-control" required #docName/>
        </div>

      
      </div>

       <div class="row form-group">
         <div class="col-sm-4">
          <label>Department</label>
          <input type="text" name="dept" value="" [(ngModel)]="form.dept" class="form-control" required #department/>
        </div>

        <div class="col-sm-4">
          <label>ID Number</label>
          <input type="text" name="idNo" value="" [(ngModel)]="form.idNo" class="form-control" required #id_no/>
        </div>
      </div>

      <div class="row form-group">
         <div class="col-sm-4">
          <label>Insured Name</label>
          <input type="text" name="insuredName" value="" [(ngModel)]="form.insuredName" class="form-control" required #insured/>
        </div>


        <div class="col-sm-4">
          <label>Doc Source</label>
          <input type="text" name="docSource" value="" [(ngModel)]="form.docSource" class="form-control" required #source/>
        </div>

       
        
      </div>
      
      <div class="row">

         <div class="col-sm-4">
          <label>Document</label>
          <input type="file" name="docName" id="doc_file" (change)="onFileChange($event)" required class="form-control" #fileInput />
        </div>

       <div class="col-sm-4">
        <label> </label>
      <input type="submit" name="save" [disabled]='!docs_form.valid' value="Save" class="btn btn-default form-control"/>
      </div>

       
        
      </div>
      

    </form>

  </div>

  <div class="card" style=" margin-top: 20px;"  align="center">

    <table >
    <th>Name</th>
    <th>Claim_no</th>
    <th>Source</th>
    <th>View</th>
    <tbody>
      <tr *ngFor="let doc of docs">
        <td >{{doc.fileName}}</td>
        <td>{{doc.claimNo}}</td>
        <td>{{doc.source}}</td>
        <td><a href="{{doc.link}}">Preview</a></td>
      </tr>
    </tbody>
  </table>
  
  </div>
  
</div>

